RELEASE-VERSION
*.egg-info
*.hex
*.pyc
.ropeproject
*/Arduino/*/Config.h
setup.py
paver-minilib.zip
build/*
*/*_pb2.py
lib/*
*/Arduino/*/NodeCommandProcessor.h
*/Arduino/*/RPCBuffer.h
*/lib
*.o
*/protobuf/nano
*/protobuf/py
*/protobuf/*.proto
.sconsign.dblite
*/node.py
*~
*.swp
dist
build
.pydevproject
.project
.idea
