RELEASE-VERSION
*.egg-info
*.hex
*.pyc
.ropeproject
*/Arduino/*/Config.h
setup.py
paver-minilib.zip
build/*
*/*_pb2.py
*/Arduino/library/*/BaseNodeRPC.h
*/Arduino/library/*/CommandProcessor.h
*/Arduino/library/*/Commands.h
*/Arduino/library/*/Properties.h
*/Arduino/*/NodeCommandProcessor.h
*/Arduino/*/RPCBuffer.h
*/lib
*.o
*/protobuf/nano
*/protobuf/py
*/protobuf/*.proto
.sconsign.dblite
*/node.py
*~
*.swp
dist
build
.pydevproject
.project
