RELEASE-VERSION
*.egg-info
*.hex
*.pyc
.ropeproject
*/Arduino/*/Config.h
setup.py
paver-minilib.zip
build/*
*/*_pb2.py
*/Arduino/*/RPCBuffer.h
*/Arduino/library/BaseNodeRPC.h
*/Arduino/*/*CommandProcessor.h
*.o
*/protobuf/nano
*/protobuf/py
*/protobuf/*.proto
.sconsign.dblite
*/node.py
*~
*.swp
dist
build
